.Footer {
    background-color: black;
    position: absolute;
    height: 200px;
    padding: 5px 20px;
    bottom: 0;
  width: 100%;
    h1 {
        font-size: 24px;
        color: white;
        margin-bottom: 40px;
        font-weight: bold;
    }
    a {
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
        font-size: 18px;
        text-decoration: none;
        &:hover{
            color: green;
            text-decoration: underline;
        }
    }
}