
.Leaderboard {
    margin-top: 20px;
    tbody {
        color: white;
      
    }
    thead {
        background-color: white;
        td {
           background-color: white;
           font-weight: bold;
           
        }
    }
}